.box {
  position: relative;
  border-radius: 16px;
}

.box::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 16px;
  padding: 2px;
  background: transparent;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  transition: background 0.3s ease;
}

.box.active::before {
  background: linear-gradient(
    var(--angle), 
    #ffc23e80, #ffc23e80, #ffc23e80, #ffc23e80,
    #f5b3259d,
    #dba8008e, 
    #ff840a92, #ff840a6b, #fff1dbb0, #fff1db, #fff1dbb0, #ff840a6b, #ff850a92,
    #dba8008e, 
    #f5b3259d,
    #ffc23e80, #ffc23e80, #ffc23e80, #ffc23e80
  );
  animation: rotate 3s linear forwards;
  filter: brightness(1.3) saturate(2.8) contrast(1.2);
  box-shadow: 0 0 45px rgba(255, 255, 0, 0.3);
}

@keyframes rotate {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 173deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
